@charset "utf-8";
@import "./variables.scss";
@import "../../node_modules/bulma/bulma";

html {
  background-color: cornflowerblue;
}

.App {
  min-width: 85vw;
  min-height: 100vh;
}

.columns {
  min-height: 100vh;
}